In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df=pd.read_csv(r"C:\Users\shajeer\Desktop\Dataset_w7.csv")

In [3]:
df

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1.descriptive analytics on the dataset.

In [4]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. female and male students scored the same marks.

In [5]:
data_male=df.loc[df['Gender']=='male']
data_female=df.loc[df['Gender']=='female']

In [6]:
ttest,pval = stats.ttest_ind(data_male['Total Marks'], data_female['Total Marks'])
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [7]:
t,pval=stats.ttest_ind(data_female['Total Marks'],data_male['Total Marks'])

In [8]:
print('p value is ',pval)

p value is  0.4937822317960763

In [9]:
if pval<0.05:
    print('Reject null hypothesis\n',' female and male students scored the same marks')
else:
    print('Fail to  reject null hypothesis\n','female and male students scored the different marks')

Fail to  reject null hypothesis
 female and male students scored the different marks

# 3. Whether test preparation helps the students?

In [10]:
none=df[df['Test preparation']=='none']
completed=df[df['Test preparation']=='completed']

In [11]:
t,p_val=stats.ttest_ind(none['Total Marks'],completed['Total Marks'])

In [12]:
print('p value is',p_val)

p value is 0.0012671292457320106

In [13]:
if p_val<0.05:
    print('Reject null hypothesis\n',' test preparation helps the students')
else:
    print('Fail to reject null hypothesis\n',' test preparation not helps the students')

Reject null hypothesis
  test preparation helps the students